.site-main .site-banner .site-title h1{
    padding-top: 35%;

}

.site-main .site-banner .banner-image > img{
    padding: 120px 0;
    width: 400px;
    border-radius: 50%;
}


.site-title{
  text-align: center;

}