.button{
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button{
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.button.primary-button::after {
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px;  right: -2px;
    background: linear-gradient(90deg, #F490A0 0%, #F2637C 100%);
    content: ' ';
    z-index: -1;
    border-radius: 4px;
}


.button-pj {
    padding: .5rem 1rem;
    position: relative;
    border: 2px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 10px 30px rgba(125, 125, 128, 0.205);
    background-color: purple;
    background-clip: padding-box;
    color: whitesmoke;
}


.button-pj:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: purple;
    transform: scale(1.05);
}
