.contact-area {
  background: #f3d6d75b;
}
.contact {
  display: flex;
  justify-content: space-around;
}

@media(max-width: 960px) {
  .contact {
    display: flex;
    justify-content: space-around;
  }
}

@media(max-width: 720px) {
  .contact {
    display: inline;
  }

  .contact-email {
    margin-bottom: 2rem;
  }
}