.site-main .project-area{
    padding: 4rem 0;
}

.h1-projects {
  text-align: center;
}

.site-main .project-area .button-group button{
    background-color:#F2637C;
    padding: .4rem 1rem;
    border: 3px solid transparent;
    border-radius: 4px;
    color: whitesmoke;
    box-shadow: 0px 1px 1px rgba(57, 56, 61, 0.205);
    font-weight: bold;
}

.site-main .project-area .button-group button + button {
    margin-left: 1rem;
}

.site-main .project-area .button-group button:hover {
 transform: scale(1.05);
 background-color: #F490A0;
} 


/* .site-main .project-area .grid .our-project .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
} */

