/* import */ 
@import url(banner.css);
@import url(button.css);
@import url(about.css);
@import url(education.css);
@import url(skills.css);
@import url(projects.css);
@import url(contact.css);
@import url(footer.css);


html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}