/* import */ 
@import url(banner.css);
@import url(button.css);
@import url(about.css);
@import url(education.css);
@import url(skills.css);
@import url(projects.css);


html, body{
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}